opencv-python
matplotlib
scikit-image
filterpy
lap
scipy
fastapi
uvicorn
mysql-connector-python==9.2.0
schedule
ultralytics
# roboflow
# ipykernel
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu126